/* Common Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  font-family: "Baloo Da 2", cursive;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
/* End of Common Styles */

/* Navbar */
.navbar {
  width: 100%;
  height: 8rem;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: -8rem;
  padding: 3rem;
  z-index: 10;
  animation: animateNavbar 1s 0.5s forwards;
  transition: height 0.5s;
}

.navbar.change {
  height: 100vh;
}

@keyframes animateNavbar {
  0% {
    top: -8rem;
  }
  100% {
    top: 0;
  }
}

.navbar-logo {
  position: static;
 justify-content: center;
text-align: center;
display: flex;
align-items: center;
top: -10px;
}

.navbar-logo a {
  font-family: "Baloo Da 2";
  font-size: 3rem;
  color: #eee;
  letter-spacing: 0.1rem;
}

.navbar-logo span {
  font-size: 3.5rem;
  font-weight: bold;
  color: #ffffff;
  font-family: "Baloo Da 2";
}

.menu {
  width: 4rem;
  height: 4rem;
  position: fixed;
  z-index: 500;
  top: 2rem;
  right: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 0.2rem;
  background-color: #eee;
  transition: transform 0.3s;
}

.line-1 {
  width: 50%;
}

.line-3 {
  width: 50%;
  margin-left: auto;
}

.change .line-1 {
  transform: translate(100%, 1rem) rotate(-35deg);
  transform-origin: right;
}

.change .line-3 {
  transform: translateY(-1rem) rotate(35deg);
  transform-origin: right;
}

.nav-list {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

.change .nav-list {
  opacity: 1;
  visibility: visible;
  transition: all 0.7s 0.5s;
}

.nav-link {
  font-family: "MADE Soulmaze", sans-serif;
  font-size: 4rem;
  letter-spacing: 0.3rem;
  color: #fff;
  margin: 2rem 0;
  transition: color 0.4s;
}

.nav-link:hover {
  color: #9e0e09;
}
/*  End of Navbar */

/* Section 1 */
.section-1 {
  width: 100%;
  height: 100vh;
  background: url(images/dark-bg.jpeg) no-repeat;
  background-size: cover;
  }

  .iframe-container{
    position:relative;
    width: 50%;
    padding: 56.25%;
    height: 50%;
  }
.banner {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  height:  100vh;
}
.text-box{ height: 40rem;
font-family:"Baloo Da 2", cursive; 
  margin-bottom: 4rem;
 top:100px;
 font-size: 30px;
 text-align: center;
 position: relative;
  perspective: 50rem;
  overflow: hidden;
  color:#fff;

}
.video-container{
 position: relative;
 top:50%;
  left:50%;
  transform: translate(-20%,-100%);
 
}

.a-btn {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  border: 0; 
  font: inherit; 
  vertical-align: baseline;
  color: #2e82bc; 
  outline: 0; 
  line-height: 1; 
  text-align: center; 
  position:relative!important; display: inline-block!important;
  border-style: solid; 
  width: 100%; padding-left: 0!important; padding-right: 0!important; 
  margin-bottom: 10px; 
  padding: 22px 44px; border-color: #ff5535; border-width: 0px; 
  border-radius: 6px; 
  background: linear-gradient(to bottom, #ff6600 0%, #ff5535 100%); 
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5); 
  text-decoration: none!important;
}

.span-btn {
  text-decoration: none;
  -webkit-font-smoothing: antialiased; 
  text-align: center;
  margin: 0; 
  border: 0; 
  font: inherit;
  vertical-align: baseline;
  display: block; 
  position: relative; 
  z-index: 1; 
  padding: 0 15px; 
  white-space: normal; 
  font-size: 25px;
  color: #ffffff; 
  font-family: Oswald; 
  font-weight: bold; 
  text-shadow: #000000 0px 1px 0px;
  text-decoration: none;
}
.span-btn2 {
  -webkit-font-smoothing: antialiased; 
  text-align: center;
  padding: 0; border: 0;
  font: inherit; 
  vertical-align: baseline; 
  display: block; 
  position: relative;
  z-index: 1; 
  margin: .2em 0 -.5em; 
  font-size: 15px; 
  color: #f5e051; 
  font-family: Cabin; 
  font-weight: bold; 
  font-style: italic;
  text-shadow: #000000 0px 1px 0px;
}

.banner-heading {
  height: 20rem;
  margin-bottom: 4rem;
  perspective: 50rem;
  overflow: hidden;
}

.banner-heading span {
  font-family: "Oswald", sans-serif;
  font-size: 6rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translateZ(8rem);
  opacity: 0;
  letter-spacing: 3rem;
  margin-top: 40px;
  box-sizing: border-box;
}


.heading-1 {
  animation: animateHeading 12s 3s infinite;
}

.heading-2 {
  animation: animateHeading 12s 6s infinite;
}

.heading-3 {
  animation: animateHeading 12s 9s infinite;
}

.heading-4 {
  animation: animateHeading 12s 12s infinite;
}

@keyframes animateHeading {
  0% {
    transform: translateZ(8rem);
    opacity: 0;
    letter-spacing: 3rem;
  }

  3% {
    transform: translateZ(0);
    opacity: 1;
    letter-spacing: 1.5rem;
  }

  25% {
    transform: translateZ(0);
    opacity: 1;
    letter-spacing: 1.5rem;
  }

  28% {
    transform: translateZ(8rem);
    opacity: 0;
    letter-spacing: 3rem;
  }

  100% {
    transform: translateZ(8rem);
    opacity: 0;
    letter-spacing: 3rem;
  }
}

.banner-paragraph {
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  width: 30%;
  margin: 0 auto 6rem auto;
  padding: 1rem 0;
  box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  animation: fadeAnimation 1s 1.5s forwards;
}

@keyframes fadeAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}




  
 

@media screen and (min-width: 768px){
  .imgbox img{
    left:1100px;
  }
}

@keyframes animateUser{
  50%{
     right: 20px;
     top: -70px;
  }
}

/* End of Section 1 */


/* Responsive */
@media (max-width: 1800px) {
  .video-wrapper {
    width: 90rem;
    height: 45rem;
    right: 10rem;
  }
.banner-btn{
  top:450px;
}
.banner-heading{
  top:450px;
  position: relative;
}
  .section-2-paragraph {
    width: 90rem;
    right: 10rem;
  }

  .section-3 .section-heading-line {
    margin-right: 3rem;
  }
}

@media (max-width: 1650px) {
  html {
    font-size: 57%;
  }

  .video-wrapper {
    width: 85rem;
    height: 40rem;
    right: 5rem;
  }

  .section-2-paragraph {
    width: 85rem;
    right: 5rem;
    bottom: 10rem;
  }
}

@media (max-width: 1500px) {
  .section-heading-line {
    display: none;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 45%;
  }

  .banner-heading span {
    font-size: 10rem;
  }

  .banner-paragraph {
    width: 45rem;
    font-size: 3rem;
  }

  .section-2,
  .section-3,
  .section-4 {
    flex-direction: column;
  }

  .section-2 {
    height: 120vh;
  }

  .video-wrapper {
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 80rem;
  }

  .section-2-paragraph {
    left: 50%;
    transform: translateX(-50%);
    width: 80rem;
  }

  .section-3 {
    height: auto;
    padding: 5rem 0 10rem 0;
  }

  .section-3 .section-heading {
    margin-bottom: 7rem;
  }

  .swiper-container {
    width: 100%;
  }

  .section-4 {
    height: auto;
    padding: 5rem 0;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 40%;
  }

  .banner {
    top: 25%;
  }

  .banner-heading {
    height: 15rem;
   }

  .banner-heading span {
    font-size: 8rem;
  }

  .footer {
    padding: 0 5rem;
  }

  .footer-nav a {
    font-size: 1.8rem;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 35%;
  }

  .section-2 {
    height: 100vh;
  }

  .contact-details div {
    margin: 3rem 2rem;
  }

  .footer {
    flex-direction: column;
    justify-content: center;
  }

  .footer-nav {
    margin-bottom: 2rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 30%;
  }

  .banner-heading span {
    font-size: 4.5rem;
    letter-spacing: 2rem;
  }

  @keyframes animateHeading {
    0% {
      transform: translateZ(8rem);
      opacity: 0;
      letter-spacing: 2rem;
    }

    3% {
      transform: translateZ(0);
      opacity: 1;
      letter-spacing: 1rem;
    }

    25% {
      transform: translateZ(0);
      opacity: 1;
      letter-spacing: 1rem;
    }

    28% {
      transform: translateZ(8rem);
      opacity: 0;
      letter-spacing: 2rem;
    }

    100% {
      transform: translateZ(8rem);
      opacity: 0;
      letter-spacing: 2rem;
    }
  }

  .video-wrapper {
    width: 60rem;
  }

  .section-2-paragraph {
    width: 60rem;
  }

  .contact-details div {
    width: 18rem;
    margin: 3rem 1rem;
  }

  .contact-form {
    width: 60rem;
  }
}
.banner-heading{
  margin-top: 200px;
}
.banner-btn{
  margin-top:200px;
}
.imgbox{
  
 
  align-items: center;
  text-align: center;
  margin-top:80px;
}
.text-box{
  margin-top:-120px;
}
.banner{
  margin-top: -100px;
   height: 100vh;
}
.navbar-logo{
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 6rem;
}
.navbar{
  position:relative;
}
.menu{
  position: relative;
}
.iframe-container{
 width: 100%;
 padding-bottom: 56.25%;
height: 0;
  position: relative;
  margin-top: -300px;
  padding-left: 30px;
  padding-right: 30px;
}
.iframe-container iframe{
  top:0;
  left:0;
  position: absolute;
  width: 100%;
  height: 100%;
}


@media (max-width:700px){
  video{
    width:100%
    }
  .video-container{
    position: relative;
  
   left: 20%;
  margin-top: -70%;
  
  } 
  }



@media (max-width:380px){
  video{
    width:100%
    }
  .video-container{
    position: relative;
  
   left: 20%;
  margin-top: -50%;
  
  } 
  }

  @media (max-width:370px){
    video{
      width:100%
      }
    .video-container{
      position: relative;
    
     left: 20%;
    margin-top: -60%;
    
    } 
    }
 
    @media (max-width:700px){
      .banner-heading {
      position: relative;
      top: 140px;
    }
    }
   
    @media (max-width:700px){
    .a-btn {
position: relative;
top: -80px;

    }
  }
/* End of Responsive */
